bin
share/newsbeuter
share/webkit/databases
share/recently-used.xbel
share/mc/history
share/keyrings
share/zathura/*
share/gvfs-metadata
share/gvfs-metadata/*
share/gvfs-metadata/root*
share/Trash/*
state
state/*
share/webkitgtk/*
share/xorg/*
share/applications/*
share/luakit-back-ovfs/*
share/luakit-backup/*
